In [21]:
from ctypes import addressof
import pandas as pd

data={

    "students":['jacob','sam','mickel','hesel'],
    "serialnumber":['1','2','3','4'],
    "rollno":[23,24,25,26],
    "marks":[31,42,56,89]


}

dataf=pd.DataFrame(data,index=["student1","student2","student3","student4"])

print(dataf)

print(dataf.loc["student4"])

print(type(dataf))

adress=["pune","hyd","mumbai","Delhi"]

dataf['Address']=adress

print(dataf)

         students serialnumber  rollno  marks
student1    jacob            1      23     31
student2      sam            2      24     42
student3   mickel            3      25     56
student4    hesel            4      26     89
students        hesel
serialnumber        4
rollno             26
marks              89
Name: student4, dtype: object
<class 'pandas.core.frame.DataFrame'>
         students serialnumber  rollno  marks Address
student1    jacob            1      23     31    pune
student2      sam            2      24     42     hyd
student3   mickel            3      25     56  mumbai
student4    hesel            4      26     89   Delhi

In [29]:
dataf.drop(['student1'],axis=0) #for axis=0 rows will be deleted with given name

         students serialnumber  rollno  marks Address
student2      sam            2      24     42     hyd
student3   mickel            3      25     56  mumbai
student4    hesel            4      26     89   Delhi

In [31]:
dataf.drop(['serialnumber','students'],axis=1)    #for axis=1 column will be deleted with given name

          rollno  marks Address
student1      23     31    pune
student2      24     42     hyd
student3      25     56  mumbai
student4      26     89   Delhi

In [42]:
print(dataf.loc["student1"])

print(dataf.iloc[0:2])

print(dataf.iloc[2:4])

students        jacob
serialnumber        1
rollno             23
marks              31
Address          pune
Name: student1, dtype: object
         students serialnumber  rollno  marks Address
student1    jacob            1      23     31    pune
student2      sam            2      24     42     hyd
         students serialnumber  rollno  marks Address
student3   mickel            3      25     56  mumbai
student4    hesel            4      26     89   Delhi

In [55]:
d1={

    "students":["jacob","NaN","sam","mickel","hesel","mahi"],
    "serialnumber":['1','2','3','4','5','NaN'],
    "rollno":[23,24,'NaN',25,26,'NaN'],
    "marks":[31,'NaN',42,56,89,'NaN']


}

df1=pd.DataFrame(d1)
print(df1)

  students serialnumber rollno marks
0    jacob            1     23    31
1      NaN            2     24   NaN
2      sam            3    NaN    42
3   mickel            4     25    56
4    hesel            5     26    89
5     mahi          NaN    NaN   NaN

In [59]:
print(df1.dropna())

  students serialnumber rollno marks
0    jacob            1     23    31
1      NaN            2     24   NaN
2      sam            3    NaN    42
3   mickel            4     25    56
4    hesel            5     26    89
5     mahi          NaN    NaN   NaN